@media (max-width: 1365px) 
  .programs
    &-wrapp
      flex-wrap: wrap
    &-list
      width: 40%
      margin-bottom: 30px

@media (max-width: 968px) 
  header
    .head
      &-title
        font-size: calc(40px + (60 + 60 * 0.7) * ((100vw - 320px) / 1920))
        margin: 0 0 20px 0
      &-subtitle
        font-size: calc(26px + (34 + 34 * 0.7) * ((100vw - 320px) / 1920))
        margin: 0 0 20px 0

  .title
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320px) / 1920))

  .about
    &-program
      &-maintitle
        font-size: calc(30px + (30 + 30 * 0.7) * ((100vw - 320px) / 1920))

  .me 
    .container
      width: 100%
      padding: 0
    &-top
      flex-direction: column
      padding-bottom: 0
      .col
        width: 100%
    &-photo
      height: 300px
      &:before
        background-size: cover
        background-position: top
        background-attachment: scroll
    &-about
      width: 100% 
      padding: 4vh 5vw
      left: 0
      top: 0
    &-title
      font-size: calc(28px + (37 + 37 * 0.7) * ((100vw - 320px) / 1920))
    &-text
      font-size: calc(16px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920))
    &-parallax
      position: relative
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 300px
      background-attachment: scroll
    &-bottom
      .col
        width: 100%
        li
          img
            min-width: 20px
            padding-top: 0
      &-text
        font-size: 16px
        line-height: 20px
    &-one
      padding: 4vh 5vw
    &-two
      padding: 4vh 5vw
      margin: 0
    &-three
      padding: 4vh 5vw
  
  .accordion 
    ul 
      li 
        height: 300px
        padding-bottom: 50px
        padding-top: 50px
  .accordion 
    height: auto
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover 
    position: relative
    display: table
    table-layout: fixed
    width: 100%
    -webkit-transition: none
    transition: none
  .accordion ul li .accordion-text *
    opacity: 1
    -webkit-transform: translateX(0)
    transform: translateX(0)

  .programs
    padding: 50px 0
    &-wrapp
      flex-direction: column
    &-list
      width: 91%
      margin: 0 auto
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
      img
        max-height: 300px
        object-fit: cover
        object-position: center
      &-title
        min-height: unset

  .contact
    flex-direction: column
    .left 
      width: 100%
      padding: 50px 0
    .right
      width: 100%
      padding: 50px 0
    form
      width: 91%


@media (max-width: 767px) 
  header
    .logo
      &-image
        max-width: 150px
    .menu
      &-link
        font-size: 16px

    